   @charset "uft-8";
   @import './mixin';


   input[type="number"]::-webkit-outer-spin-button,
   input[type="number"]::-webkit-inner-spin-button {
     -webkit-appearance: none;
     margin: 0;
   }

   input:focus,
   textarea:focus {
     outline: none;
   }

   img {
     max-width: 100%;
   }


   .center_box {
     width: 95%;
     max-width: 1200px;
     margin: 0 auto;
     //  @include centerY(relative);
   }

   .unMove {
     opacity: 0;
     transition: all 1.5s;
   }

   .moveOn {
     transform: translate(0) !important;
     opacity: 1 !important;
   }

   .moverWrap {
     .movingBox {
       opacity: 0;
       transition: all 1.5s;
     }
   }

   .moverOn_Wrap {
     .movingBox {
       transform: translate(0) !important;
       opacity: 1 !important;
     }
   }


   @for $i from 1 through 100 {
     .delay#{$i} {
       transition-delay: 0.1s * $i  !important;
     }
   }

   .flex_start {
     display: flex;
     align-items: flex-start;
     justify-content: space-between;
   }

   .flex_center {
     display: flex;
     align-items: center;
     justify-content: space-between;
   }

   .header {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 9rem;
     z-index: 3;
     transition: opacity 0.5s;
     @include flexCenter;

     &__head {
       width: 95%;
       margin: 0 auto;
       @include flexCenter;
     }

     .logo {
       width: 8.2rem;
     }

     .menu_btn {
       cursor: pointer;

       span {
         color: #fff;
         font-size: 4rem;
       }
     }

     &.hide {
       opacity: 0;
     }
   }

   .nav {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: #323334;
     transition: opacity 0.7s;
     visibility: hidden;
     opacity: 0;

     &.openedNav {
       visibility: visible;
       opacity: 1;
     }

     &__menu {
       text-align: center;

       @include centerC(absolute);

       li {
         &:not(:last-child) {
           margin-bottom: 2rem;
         }

         a {
           display: block;
           color: #fff;
           font-size: clamp(2.5rem, 4vw, 5rem);
           font-weight: 500;
           transition: all 0.3s;

           &:hover {
             transform: translateX(1rem);
             color: #08c;
           }
         }
       }
     }

     &__close {
       cursor: pointer;
       position: absolute;
       right: 2.5%;
       height: 9rem;
       @include flexAlign;


       span {
         color: #fff;
         font-size: 4rem;
       }
     }
   }